<!--привязка шаблона к странице-->



{% extends 'todo/base.html' %}

{% block content %}
<div class="container px-2 text-center">
<p class="fs-1">Task, планируйте своё будущее!</p>

    <figure class="text-end">
  <blockquote class="blockquote">
    <p>Лучший способ предсказать ваше будущее - создать его.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
 <cite title="Source Title"> Авраам Линкольн</cite>
  </figcaption>
</figure>
<a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать</a>
        </div>
    </div>
</div>

{% endblock %}