<!--привязка шаблона к странице-->


{% extends 'todo/base.html' %}

{% block content %}

    <title>Task</title>
    <h1 class="page-title-title">Task, планируйте своё будущее!</h1>
    <figure class="page-home">
        <blockquote class="blockquote">
            <p>Лучший способ предсказать ваше будущее - создать его.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title"> Авраам Линкольн</cite>
        </figcaption>
    </figure>
<div class="page-home">
    <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать</a>
</div>

{% endblock %}